numpy~=2.1.1
pillow~=11.1.0
opencv-python~=4.11.0.86
filelock~=3.18.0
typing_extensions~=4.13.0
MarkupSafe~=3.0.2
Werkzeug~=3.1.3
click~=8.1.8
Jinja2~=3.1.6
blinker~=1.9.0
itsdangerous~=2.2.0
setuptools~=78.1.0
sympy~=1.13.1
mpmath~=1.3.0
torch~=2.6.0
triton>=3.2.0; platform_system == "Linux"
triton-windows>=3.2.0; platform_system == "Windows"
torchvision~=0.21.0
fsspec~=2025.3.1
networkx~=3.4.2
Flask~=3.1.0
opencv-python~=4.11.0.86
ultralytics~=8.3.99
rich~=14.0.0
